.row
  .twelve.columns
    %h2 Paintings
    %ul{:'data-clearing'=>true}
      - @paintings.each do |painting|
        %li
          %a{:href=>"/assets/#{painting.image}"}
            = image_tag painting.image, :class => 'paintings'