.row
  .twelve.columns
    %h2 Paintings
.row
  .eight.centered.columns
    %ul{:'data-clearing'=>true}
      - @paintings.each do |painting|
        %li.paintings
          %a{:href=>"/assets/#{painting.image}"}
            = image_tag painting.image, :class => 'paintings'