.row
  .twelve.columns
    %h2 Paintings
.row
  .twelve.centered.columns
    %ul{:'data-clearing'=>true}
      - @paintings.each do |painting|
        %li.paintings
          %a{:href=> painting.image}
            = image_tag painting.image, :class => 'paintings'