- if works.empty?
  .row
    .twelve.columns
      %h3 Coming soon!
- else
  .row
    .twelve.centered.columns
      %ul{:'data-clearing'=>true}
        - works.each do |work|
          %li.works
            %a{:href=> work.image}
              = image_tag work.image, :class => 'works'