.row
  .seven.columns
    %h2 Artist Statement
    %p.bio I believe in aspiring.  That endeavor yields being; evinces the assertion of life; circumvents the caprice of society and culture.  Art’s triumph is the vessel and fanfare of humanity; it rejects what binds and gestures us to the soul-sung loving in dream. The valence of experience reveals our starting, and the ever beginning molds our living.  Where is where when only we leap.
    %h2 Exhibition History
    %h5 Solo Exhibitions
    %table
      %tr
        %td "Consumed by White"
        %td November 2012
        %td Snug Harbor Cultural Center, Art Lab Exhibit Gallery
    %h5 Group Exhibitions
    %table
      %tr
        %td "The Fifth Annual Open Show"
        %td January 2012
        %td Art Lab, Snug Harbor Cultural Center
      %tr
        %td "Annual Invitational"
        %td July 2012
        %td Art Lab, Snug Harbor Cultural Center
      %tr
        %td "Small Works Invitational"
        %td November 2011
        %td The Painting Center
      %tr
        %td "Coming Round, Searching for Expression in the Mind's Eye"
        %td February 2011
        %td Second Saturday Gallery
      %tr
        %td "2010 B.C." (Catalogue)
        %td May 2010
        %td Williamsburg Art & Historical Center
    %h5 Juried Shows
    %table
      %tr
        %td "Black and White"
        %td July 2011
        %td Brooklyn Waterfront, Artist Coalition
    %h2 Education
    %table
      %tr
        %td Brooklyn College/CUNY
        %td 2008-2010
        %td Master of Fine Arts
      %tr
        %td College of Staten Island
        %td 2002-2007
        %td Bachelor of Arts in Fine Art CUNY (cum laude)
    %h2 Teaching Positions
    %table
      %tr
        %td College of Staten Island/CUNY
        %td Adjunct Assistant Professor
        %td Studio Art
      %tr
        %td Art Lab, Snug Harbor Cultural Center
        %td Teaching Artist
        %td Studio Art
      %tr
        %td Art Lab, Snug Harbor Cultural Center
        %td Teaching Artist
        %td Camp Picasso
      %tr
        %td Liberty Partnership Program/CUNY
        %td Teaching Artist
        %td= " "
  .five.columns
    = image_tag 'headshot.jpg', :class => 'bio'
