.row
  .twelve.columns
    %h2 Art
.row
  .six.columns
    %h3= link_to 'Paintings', paintings_path
    #paintpreview
  .six.columns
    %h3= link_to 'Works on Paper'
    #paperpreview
      #soon Coming soon