.row
  .seven.columns
    %h2 Contact
    %br
    %h4 David J. Loncle
    %br
    %h4
      Email:
      %span#email
        = link_to 'david.loncle@gmail.com', 'MAILTO:%20david.loncle@gmail.com'
  .five.columns
    = image_tag 'parchment.jpg', :id=>'contact'