.row
  .six.columns
    %h2 Welcome to David Loncle's Portfolio
  .six.columns
    #slider
      = image_tag 'paintings/painting1.jpg'
      = image_tag 'paintings/painting2.jpg'
      = image_tag 'paintings/painting3.jpg'