.row
  .five.centered.columns
    #slider
      - Painting.all.each do |painting|
        = image_tag painting.image
      / = image_tag 'paintings/painting1.jpg'
      / = image_tag 'paintings/painting3.jpg'
      / = image_tag 'paintings/painting4.jpg'